<nav class="navbar hide" id="navbar">
    <div class="nav_header">
        <i class="fa-solid fa-bars" id="boton_abrir_navbar"></i>
        <img src="../assets/img/facheros_logo_2.png" alt="Logo de facheros">
    </div>

    <hr />

    <div class="nav_body">

        <a href="/pedido" id="ingreso_pedido">
            <i class="fa-solid fa-cash-register"></i>
            <span>Pedidos</span>
        </a>

        <div id="cocina">
            <i class="fa-solid fa-kitchen-set"></i>
            <span>Cocina &nbsp; <i class="fa-solid fa-caret-down"></i></span>
        </div>

        <a href="/cocina-presencial" id="presencial" class="cerrar_item">Presencial</a>
        <a href="/cocina-delivery" id="delivery" class="cerrar_item">Delivery</a>

        <a href="/historial-pedidos" id="historia_pedido">
            <i class="fa-solid fa-clock-rotate-left"></i>
            <span>Historial del Pedidos</span>
        </a>


    </div>
    <div class="nav_footer">
        <p>Cerrar Sesión</p>
        <i class="fa-solid fa-right-from-bracket" id="cerrar_sesion"></i>
    </div>
</nav>